<!doctype html>
<html lang="ar" dir="rtl">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>كشف محافظة</title>
</head>

<body class="px-20">
	<header>
		<table>
			<tr>
				<td>رقم الكشف: <span>{{reportData.id}}</span></td>
				<td class="title">كشف محافظة</td>
				<td>عدد الطلبيات: <span>{{add reportData.baghdadOrdersCount
						reportData.governoratesOrdersCount}}</span></td>
				<td rowspan="3"><img src="{{reportData.company.logo}}" /></td>
			</tr>
			<tr>
				<td>التاريخ: <span>{{date reportData.createdAt}}</span></td>
				<td>المحافظة: <span>{{localizeGovernorate reportData.governorateReport.governorate}}</span></td>
				<td>عدد طلبيات بغداد: <span>{{reportData.baghdadOrdersCount}}</span></td>
				<td></td>
			</tr>
			<tr>
				<td>صافي الشركة: <span>{{currency reportData.companyNet}}</span></td>
				<td></td>
				<td>عدد طلبيات المحافظات: <span>{{reportData.governoratesOrdersCount}}</span></td>
				<td></td>
			</tr>
		</table>
	</header>
	<main>
		<table>
			<thead>
				<tr>
					<th>#</th>
					<th>رقم الوصل</th>
					<th>أنشئ في</th>
					<th>الصفحة</th>
					<th>المندوب</th>
					<th>هاتف المستلم</th>
					<th>عنوان المستلم</th>
					<th>مبلغ الوصل</th>
					<th>المبلغ المستلم</th>
					<th>صافي المندوب</th>
					<th>الحالة</th>
				</tr>
			</thead>
			<tbody>
				{{#each orders}}
				<tr>
					<td class="nowrap">{{inc @index}}</td>
					<td>{{receiptNumber}}</td>
					<td>{{date createdAt}}</td>
					{{#if store}}
					<td>{{store.name}}</td>
					{{else}}
					<td></td>
					{{/if}}
					{{#if deliveryAgent}}
					<td>{{deliveryAgent.name}}</td>
					{{else}}
					<td></td>
					{{/if}}
					<td>{{mapPhones recipientPhones}}</td>
					<td>{{recipientAddress}}</td>
					<td>{{currency totalCost}}</td>
					<td>{{currency paidAmount}}</td>
					<td>{{currency deliveryAgentNet}}</td>
					<td>{{localizeOrderStatus status}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</main>
	<footer>التوقيع: <span class="light">______________________________________________</span></footer>
	<section class="watermark">{{reportData.company.name}}</section>
</body>

</html>
