<!doctype html>
<html lang="ar" dir="rtl">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>كشف مخزن</title>
</head>

<body class="px-20">
	<header>
		<table>
			<tr>
				<td>رقم الكشف: <span>{{reportData.id}}</span></td>
				<td class="title">كشف مخزن</td>
				<td>عدد الطلبيات: <span>{{add reportData.baghdadOrdersCount
						reportData.governoratesOrdersCount}}</span></td>
				<td rowspan="3"><img src="{{reportData.company.logo}}" /></td>
			</tr>
			<tr>
				<td>التاريخ: <span>{{date reportData.createdAt}}</span></td>
				<td>المخزن: <span>{{reportData.repositoryReport.repository.name}}</span></td>
				<td>عدد طلبيات بغداد: <span>{{reportData.baghdadOrdersCount}}</span></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>عدد طلبيات المحافظات: <span>{{reportData.governoratesOrdersCount}}</span></td>
				<td></td>
			</tr>
		</table>
	</header>
	<main>
		<table>
			<thead>
				<tr>
					<th>#</th>
					<th>رقم الوصل</th>
					<th>أنشئ في</th>
					<th>هاتف المستلم</th>
					<th>عنوان المستلم</th>
					<th>مبلغ الوصل</th>
					<th>المبلغ المستلم</th>
					<th>مبلغ التوصيل</th>
					<th>صافي العميل</th>
					<th>الحالة</th>
				</tr>
			</thead>
			<tbody>
				{{#each orders}}
				<tr>
					<td class="nowrap">{{inc @index}}</td>
					<td>{{receiptNumber}}</td>
					<td>{{date createdAt}}</td>
					<td>{{mapPhones recipientPhones}}</td>
					<td>{{recipientAddress}}</td>
					<td>{{currency totalCost}}</td>
					<td>{{currency paidAmount}}</td>
					<td>{{currency deliveryCost}}</td>
					<td>{{currency repositoryNet}}</td>
					<td>{{localizeOrderStatus status}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</main>
	<footer>التوقيع: <span class="light">______________________________________________</span></footer>
	<section class="watermark">{{reportData.company.name}}</section>
</body>

</html>
